USE [master]
GO
/****** Object:  Database [TFGRAMON]    Script Date: 05/06/2026 22:29:42 ******/
CREATE DATABASE [TFGRAMON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TFGRAMON', FILENAME = N'C:\Program Files\Microsoft SQL ServerTFG\MSSQL16.SQLEXPRESS01\MSSQL\DATA\TFGRAMON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TFGRAMON_log', FILENAME = N'C:\Program Files\Microsoft SQL ServerTFG\MSSQL16.SQLEXPRESS01\MSSQL\DATA\TFGRAMON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TFGRAMON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TFGRAMON]
GO
/****** Object:  Table [dbo].[alertas]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alertas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parcela_id] [bigint] NOT NULL,
	[cultivo_id] [bigint] NULL,
	[regla_manual_id] [bigint] NULL,
	[tipo_origen] [varchar](20) NOT NULL,
	[tipo_alerta] [varchar](50) NOT NULL,
	[severidad] [varchar](20) NOT NULL,
	[mensaje] [nvarchar](500) NOT NULL,
	[valor_detectado] [decimal](10, 4) NULL,
	[fecha_disparo] [datetime2](7) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[reconocida_por] [bigint] NULL,
	[reconocida_en] [datetime2](7) NULL,
	[resuelta_en] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditoria_log]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NULL,
	[accion] [varchar](100) NOT NULL,
	[entidad] [varchar](100) NOT NULL,
	[entidad_id] [bigint] NULL,
	[detalle] [nvarchar](max) NULL,
	[ip_origen] [varchar](45) NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[resultado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cosechas]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cosechas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cultivo_id] [bigint] NOT NULL,
	[fecha_cosecha] [date] NOT NULL,
	[kg_obtenidos] [decimal](10, 2) NOT NULL,
	[precio_por_kg] [decimal](10, 4) NOT NULL,
	[ingreso_total]  AS ([kg_obtenidos]*[precio_por_kg]) PERSISTED,
	[calidad] [varchar](20) NULL,
	[observaciones] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cultivos]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cultivos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parcela_id] [bigint] NOT NULL,
	[tipo_cultivo_id] [bigint] NOT NULL,
	[nombre_personalizado] [varchar](150) NULL,
	[fecha_siembra] [date] NOT NULL,
	[fecha_cosecha_estimada] [date] NULL,
	[estado] [varchar](20) NOT NULL,
	[notas] [nvarchar](1000) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parcela_usuarios]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parcela_usuarios](
	[parcela_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[asignado_en] [datetime2](7) NOT NULL,
	[asignado_por] [bigint] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parcela_id] ASC,
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parcelas]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parcelas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[superficie_ha] [decimal](10, 4) NOT NULL,
	[latitud] [decimal](10, 7) NOT NULL,
	[longitud] [decimal](10, 7) NOT NULL,
	[municipio] [varchar](150) NULL,
	[provincia] [varchar](100) NULL,
	[referencia_catastral] [varchar](50) NULL,
	[activa] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[token] [varchar](512) NOT NULL,
	[expiracion] [datetime2](7) NOT NULL,
	[revocado] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reglas_alerta_manual]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reglas_alerta_manual](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parcela_id] [bigint] NOT NULL,
	[creado_por] [bigint] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[campo] [varchar](30) NOT NULL,
	[operador] [varchar](20) NOT NULL,
	[valor_umbral] [decimal](10, 4) NOT NULL,
	[valor_umbral_max] [decimal](10, 4) NULL,
	[severidad] [varchar](20) NOT NULL,
	[activa] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sensor_datos]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sensor_datos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parcela_id] [bigint] NOT NULL,
	[temperatura] [decimal](5, 2) NULL,
	[humedad_suelo] [decimal](5, 2) NULL,
	[humedad_ambiental] [decimal](5, 2) NULL,
	[luminosidad] [decimal](10, 2) NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tareas]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tareas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parcela_id] [bigint] NOT NULL,
	[cultivo_id] [bigint] NULL,
	[asignado_a] [bigint] NULL,
	[creado_por] [bigint] NOT NULL,
	[titulo] [varchar](200) NOT NULL,
	[descripcion] [nvarchar](1000) NULL,
	[tipo] [varchar](50) NOT NULL,
	[prioridad] [varchar](20) NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[fecha_prevista] [date] NOT NULL,
	[fecha_completada] [datetime2](7) NULL,
	[notas_completado] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_cultivo]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_cultivo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[nombre_cientifico] [varchar](150) NULL,
	[descripcion] [nvarchar](500) NULL,
	[icono_url] [varchar](255) NULL,
	[temp_optima_min] [decimal](5, 2) NULL,
	[temp_optima_max] [decimal](5, 2) NULL,
	[temp_critica_min] [decimal](5, 2) NULL,
	[temp_critica_max] [decimal](5, 2) NULL,
	[humedad_suelo_optima_min] [decimal](5, 2) NULL,
	[humedad_suelo_optima_max] [decimal](5, 2) NULL,
	[humedad_suelo_critica_min] [decimal](5, 2) NULL,
	[humedad_suelo_critica_max] [decimal](5, 2) NULL,
	[humedad_amb_optima_min] [decimal](5, 2) NULL,
	[humedad_amb_optima_max] [decimal](5, 2) NULL,
	[luminosidad_optima_min] [decimal](10, 2) NULL,
	[luminosidad_optima_max] [decimal](10, 2) NULL,
	[recomendacion_riego] [nvarchar](500) NULL,
	[recomendacion_helada] [nvarchar](500) NULL,
	[recomendacion_estres_hidrico] [nvarchar](500) NULL,
	[recomendacion_general] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 05/06/2026 22:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
	[estado] [varchar](20) NOT NULL,
	[rol] [varchar](20) NULL,
	[ultimo_acceso] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [varchar](100) NULL,
	[updated_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alertas] ON 

SET IDENTITY_INSERT [dbo].[alertas] OFF
GO
SET IDENTITY_INSERT [dbo].[cosechas] ON 

INSERT [dbo].[cosechas] ([id], [cultivo_id], [fecha_cosecha], [kg_obtenidos], [precio_por_kg], [calidad], [observaciones], [created_at], [updated_at], [created_by]) VALUES (1, 1, CAST(N'2026-07-10' AS Date), CAST(2500.00 AS Decimal(10, 2)), CAST(0.2500 AS Decimal(10, 4)), N'ESTANDAR', N'Buena cosecha', CAST(N'2026-05-09T12:03:07.5358274' AS DateTime2), CAST(N'2026-05-09T12:03:07.5358274' AS DateTime2), N'admin@agrogestion.com')
INSERT [dbo].[cosechas] ([id], [cultivo_id], [fecha_cosecha], [kg_obtenidos], [precio_por_kg], [calidad], [observaciones], [created_at], [updated_at], [created_by]) VALUES (2, 2, CAST(N'2026-12-12' AS Date), CAST(8.01 AS Decimal(10, 2)), CAST(0.0200 AS Decimal(10, 4)), N'PREMIUM', N'asdas', CAST(N'2026-05-13T02:26:56.1694604' AS DateTime2), CAST(N'2026-05-13T02:26:56.1694604' AS DateTime2), N'admin@agrogestion.com')
INSERT [dbo].[cosechas] ([id], [cultivo_id], [fecha_cosecha], [kg_obtenidos], [precio_por_kg], [calidad], [observaciones], [created_at], [updated_at], [created_by]) VALUES (3, 4, CAST(N'2026-05-19' AS Date), CAST(234234.00 AS Decimal(10, 2)), CAST(0.0100 AS Decimal(10, 4)), N'ESTANDAR', N'asdasd', CAST(N'2026-05-19T14:09:39.5198595' AS DateTime2), CAST(N'2026-05-19T14:09:39.5198595' AS DateTime2), N'juan@test.com')
SET IDENTITY_INSERT [dbo].[cosechas] OFF
GO
SET IDENTITY_INSERT [dbo].[cultivos] ON 

INSERT [dbo].[cultivos] ([id], [parcela_id], [tipo_cultivo_id], [nombre_personalizado], [fecha_siembra], [fecha_cosecha_estimada], [estado], [notas], [activo], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, 1, 1, N'Trigo primavera 2026', CAST(N'2026-03-01' AS Date), CAST(N'2026-07-15' AS Date), N'LISTO_COSECHA', NULL, 1, CAST(N'2026-05-09T12:02:28.5811123' AS DateTime2), CAST(N'2026-05-19T11:53:08.4821077' AS DateTime2), N'admin@agrogestion.com', N'rrodriguezc27@iesarroyoharnina.es')
INSERT [dbo].[cultivos] ([id], [parcela_id], [tipo_cultivo_id], [nombre_personalizado], [fecha_siembra], [fecha_cosecha_estimada], [estado], [notas], [activo], [created_at], [updated_at], [created_by], [updated_by]) VALUES (2, 2, 2, N'', CAST(N'2026-12-12' AS Date), CAST(N'2027-12-12' AS Date), N'ACTIVO', N'asdasd', 1, CAST(N'2026-05-13T02:26:32.6182017' AS DateTime2), CAST(N'2026-05-13T02:26:32.6182017' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
INSERT [dbo].[cultivos] ([id], [parcela_id], [tipo_cultivo_id], [nombre_personalizado], [fecha_siembra], [fecha_cosecha_estimada], [estado], [notas], [activo], [created_at], [updated_at], [created_by], [updated_by]) VALUES (3, 3, 2, N'asdasdas', CAST(N'2026-12-12' AS Date), CAST(N'2027-12-12' AS Date), N'ACTIVO', N'asdasd', 1, CAST(N'2026-05-13T02:30:42.6348867' AS DateTime2), CAST(N'2026-05-13T02:30:42.6348867' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
SET IDENTITY_INSERT [dbo].[cultivos] OFF
GO
INSERT [dbo].[parcela_usuarios] ([parcela_id], [usuario_id], [asignado_en], [asignado_por], [activo]) VALUES (1, 3, CAST(N'2026-05-18T07:38:10.2200000' AS DateTime2), 2, 1)
GO
SET IDENTITY_INSERT [dbo].[parcelas] ON 

INSERT [dbo].[parcelas] ([id], [owner_id], [nombre], [descripcion], [superficie_ha], [latitud], [longitud], [municipio], [provincia], [referencia_catastral], [activa], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, 2, N'Parcela Norte', N'Parcela de trigo en el norte', CAST(5.5000 AS Decimal(10, 4)), CAST(38.7223000 AS Decimal(10, 7)), CAST(-6.3422000 AS Decimal(10, 7)), N'Badajoz', N'Badajoz', NULL, 1, CAST(N'2026-05-09T12:01:25.5426300' AS DateTime2), CAST(N'2026-05-09T12:01:25.5426300' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
INSERT [dbo].[parcelas] ([id], [owner_id], [nombre], [descripcion], [superficie_ha], [latitud], [longitud], [municipio], [provincia], [referencia_catastral], [activa], [created_at], [updated_at], [created_by], [updated_by]) VALUES (2, 1, N'Parcela sur', N'Badajoz', CAST(20.0000 AS Decimal(10, 4)), CAST(0.0008000 AS Decimal(10, 7)), CAST(0.0007000 AS Decimal(10, 7)), N'badajoz', N'badajoz', N'', 0, CAST(N'2026-05-13T02:25:37.8151215' AS DateTime2), CAST(N'2026-05-13T02:27:45.6706219' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
INSERT [dbo].[parcelas] ([id], [owner_id], [nombre], [descripcion], [superficie_ha], [latitud], [longitud], [municipio], [provincia], [referencia_catastral], [activa], [created_at], [updated_at], [created_by], [updated_by]) VALUES (3, 1, N'sdsadsadasdasdasdasd', N'asdsadsad', CAST(2.0000 AS Decimal(10, 4)), CAST(-0.0001000 AS Decimal(10, 7)), CAST(0.0001000 AS Decimal(10, 7)), N'sad', N'asdsa', N'asdas', 0, CAST(N'2026-05-13T02:30:08.3515343' AS DateTime2), CAST(N'2026-05-13T02:34:05.5930858' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
SET IDENTITY_INSERT [dbo].[parcelas] OFF
GO
SET IDENTITY_INSERT [dbo].[refresh_tokens] ON 

INSERT [dbo].[refresh_tokens] ([id], [usuario_id], [token], [expiracion], [revocado], [created_at]) VALUES (149, 2, N'c53a5843-4cb4-4643-a5e7-1c9e94f3f5f4', CAST(N'2026-06-08T10:08:56.6745432' AS DateTime2), 1, CAST(N'2026-06-01T10:08:56.6755434' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [usuario_id], [token], [expiracion], [revocado], [created_at]) VALUES (150, 1, N'5fc9c97a-1879-411a-94c4-364f4fcfeb80', CAST(N'2026-06-08T10:28:40.5827749' AS DateTime2), 1, CAST(N'2026-06-01T10:28:40.5838727' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [usuario_id], [token], [expiracion], [revocado], [created_at]) VALUES (151, 1, N'cfb1ed34-bd8d-4676-b047-2d7b0c162bd4', CAST(N'2026-06-08T10:47:50.8285241' AS DateTime2), 1, CAST(N'2026-06-01T10:47:50.8295425' AS DateTime2))
SET IDENTITY_INSERT [dbo].[refresh_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [nombre], [descripcion], [created_at], [updated_at]) VALUES (1, N'ROLE_ADMIN', N'Administrador de la plataforma', CAST(N'2026-05-05T18:39:45.3766667' AS DateTime2), CAST(N'2026-05-05T18:39:45.3766667' AS DateTime2))
INSERT [dbo].[roles] ([id], [nombre], [descripcion], [created_at], [updated_at]) VALUES (2, N'ROLE_OWNER', N'Propietario de explotación agrícola', CAST(N'2026-05-05T18:39:45.3766667' AS DateTime2), CAST(N'2026-05-05T18:39:45.3766667' AS DateTime2))
INSERT [dbo].[roles] ([id], [nombre], [descripcion], [created_at], [updated_at]) VALUES (3, N'ROLE_WORKER', N'Trabajador asignado a explotación', CAST(N'2026-05-05T18:39:45.3766667' AS DateTime2), CAST(N'2026-05-05T18:39:45.3766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[sensor_datos] ON 

INSERT [dbo].[sensor_datos] ([id], [parcela_id], [temperatura], [humedad_suelo], [humedad_ambiental], [luminosidad], [timestamp], [created_at]) VALUES (1, 1, CAST(-3.50 AS Decimal(5, 2)), CAST(15.00 AS Decimal(5, 2)), CAST(45.00 AS Decimal(5, 2)), CAST(25000.00 AS Decimal(10, 2)), CAST(N'2026-05-09T10:00:00.0000000' AS DateTime2), CAST(N'2026-05-10T13:27:03.1562961' AS DateTime2))
INSERT [dbo].[sensor_datos] ([id], [parcela_id], [temperatura], [humedad_suelo], [humedad_ambiental], [luminosidad], [timestamp], [created_at]) VALUES (2, 1, CAST(-10.00 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(0.20 AS Decimal(5, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(N'2026-05-18T08:07:23.0000000' AS DateTime2), CAST(N'2026-05-18T10:07:23.1756222' AS DateTime2))
INSERT [dbo].[sensor_datos] ([id], [parcela_id], [temperatura], [humedad_suelo], [humedad_ambiental], [luminosidad], [timestamp], [created_at]) VALUES (3, 1, CAST(25.93 AS Decimal(5, 2)), CAST(34.80 AS Decimal(5, 2)), CAST(31.20 AS Decimal(5, 2)), CAST(3275.00 AS Decimal(10, 2)), CAST(N'2026-05-18T11:55:44.5944748' AS DateTime2), CAST(N'2026-05-18T11:55:44.6122542' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[sensor_datos] OFF
GO
SET IDENTITY_INSERT [dbo].[tareas] ON 

INSERT [dbo].[tareas] ([id], [parcela_id], [cultivo_id], [asignado_a], [creado_por], [titulo], [descripcion], [tipo], [prioridad], [estado], [fecha_prevista], [fecha_completada], [notas_completado], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, 1, NULL, NULL, 1, N'recojida', N'asdasdas', N'RIEGO', N'MEDIA', N'PENDIENTE', CAST(N'2026-12-12' AS Date), NULL, NULL, CAST(N'2026-05-13T02:28:33.5502838' AS DateTime2), CAST(N'2026-05-13T02:28:33.5502838' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
INSERT [dbo].[tareas] ([id], [parcela_id], [cultivo_id], [asignado_a], [creado_por], [titulo], [descripcion], [tipo], [prioridad], [estado], [fecha_prevista], [fecha_completada], [notas_completado], [created_at], [updated_at], [created_by], [updated_by]) VALUES (2, 1, NULL, NULL, 1, N'urgente', N'asdasd', N'RIEGO', N'MEDIA', N'PENDIENTE', CAST(N'2026-12-12' AS Date), NULL, NULL, CAST(N'2026-05-13T02:29:32.2554237' AS DateTime2), CAST(N'2026-05-13T02:29:32.2554237' AS DateTime2), N'admin@agrogestion.com', N'admin@agrogestion.com')
INSERT [dbo].[tareas] ([id], [parcela_id], [cultivo_id], [asignado_a], [creado_por], [titulo], [descripcion], [tipo], [prioridad], [estado], [fecha_prevista], [fecha_completada], [notas_completado], [created_at], [updated_at], [created_by], [updated_by]) VALUES (3, 3, NULL, 7, 1, N'asdasd', N'asdasasdas', N'FERTILIZACION', N'ALTA', N'COMPLETADA', CAST(N'2026-05-24' AS Date), CAST(N'2026-05-14T16:17:21.1620291' AS DateTime2), NULL, CAST(N'2026-05-13T02:33:47.7096150' AS DateTime2), CAST(N'2026-05-24T21:30:52.6060562' AS DateTime2), N'admin@agrogestion.com', N'juan@test.com')
SET IDENTITY_INSERT [dbo].[tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_cultivo] ON 

SET IDENTITY_INSERT [dbo].[tipo_cultivo] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [email], [password_hash], [telefono], [estado], [rol], [ultimo_acceso], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, N'Administrador', N'Sistema', N'admin@agrogestion.com', N'$2a$12$g0LA7NK8chFTVD2YPv6WueG/xoKk1Mk8pMXn5WCjU6ENtDDyZNyfu', NULL, N'ACTIVO', N'ROLE_ADMIN', CAST(N'2026-06-01T11:54:00.4779896' AS DateTime2), CAST(N'2026-05-05T18:39:45.4000000' AS DateTime2), CAST(N'2026-05-05T18:39:45.4000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [email], [password_hash], [telefono], [estado], [rol], [ultimo_acceso], [created_at], [updated_at], [created_by], [updated_by]) VALUES (2, N'JuanR', N'Garcia Lopez', N'juan@test.com', N'$2a$12$Sz7J/c/FtDKKMq6riQfdFOA25mpw5btl80aoCZtCmZ1ZRunlmkZcS', N'666777888', N'ACTIVO', N'ROLE_OWNER', CAST(N'2026-05-28T09:52:22.3579392' AS DateTime2), CAST(N'2026-05-07T10:20:05.4832439' AS DateTime2), CAST(N'2026-05-18T11:09:09.1524904' AS DateTime2), N'system', N'admin@agrogestion.com')
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [email], [password_hash], [telefono], [estado], [rol], [ultimo_acceso], [created_at], [updated_at], [created_by], [updated_by]) VALUES (3, N'Ramon', N'Rodriguez', N'rrodriguezc27@iesarroyoharnina.es', N'$2a$12$oteSy3TwJuKF1DfV.g9R2eSLMrTRIlWOjpOPKir0Uw4RnSWzI2L7e', N'699376734', N'ACTIVO', N'ROLE_WORKER', CAST(N'2026-05-24T21:53:48.3889815' AS DateTime2), CAST(N'2026-05-13T03:13:41.3299775' AS DateTime2), CAST(N'2026-05-13T03:15:22.3205528' AS DateTime2), N'system', N'admin@agrogestion.com')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_al_parcela_estado]    Script Date: 05/06/2026 22:29:42 ******/
CREATE NONCLUSTERED INDEX [idx_al_parcela_estado] ON [dbo].[alertas]
(
	[parcela_id] ASC,
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_audit_usr_ts]    Script Date: 05/06/2026 22:29:42 ******/
CREATE NONCLUSTERED INDEX [idx_audit_usr_ts] ON [dbo].[auditoria_log]
(
	[usuario_id] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__refresh___CA90DA7ABDD85F24]    Script Date: 05/06/2026 22:29:42 ******/
ALTER TABLE [dbo].[refresh_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72AFBCC685263A7C]    Script Date: 05/06/2026 22:29:42 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sd_parcela_timestamp]    Script Date: 05/06/2026 22:29:42 ******/
CREATE NONCLUSTERED INDEX [idx_sd_parcela_timestamp] ON [dbo].[sensor_datos]
(
	[parcela_id] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tar_asig_estado]    Script Date: 05/06/2026 22:29:42 ******/
CREATE NONCLUSTERED INDEX [idx_tar_asig_estado] ON [dbo].[tareas]
(
	[asignado_a] ASC,
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tar_parc_fecha]    Script Date: 05/06/2026 22:29:42 ******/
CREATE NONCLUSTERED INDEX [idx_tar_parc_fecha] ON [dbo].[tareas]
(
	[parcela_id] ASC,
	[fecha_prevista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tipo_cul__72AFBCC6CA398718]    Script Date: 05/06/2026 22:29:42 ******/
ALTER TABLE [dbo].[tipo_cultivo] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E61641B4B377E]    Script Date: 05/06/2026 22:29:42 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alertas] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[alertas] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[alertas] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[auditoria_log] ADD  DEFAULT (getutcdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[auditoria_log] ADD  DEFAULT ('EXITO') FOR [resultado]
GO
ALTER TABLE [dbo].[cosechas] ADD  DEFAULT ('ESTANDAR') FOR [calidad]
GO
ALTER TABLE [dbo].[cosechas] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cosechas] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cultivos] ADD  DEFAULT ('ACTIVO') FOR [estado]
GO
ALTER TABLE [dbo].[cultivos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cultivos] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cultivos] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[parcela_usuarios] ADD  DEFAULT (getutcdate()) FOR [asignado_en]
GO
ALTER TABLE [dbo].[parcela_usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[parcelas] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[parcelas] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[parcelas] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT ((0)) FOR [revocado]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reglas_alerta_manual] ADD  DEFAULT ('MEDIA') FOR [severidad]
GO
ALTER TABLE [dbo].[reglas_alerta_manual] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[reglas_alerta_manual] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reglas_alerta_manual] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sensor_datos] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ('MEDIA') FOR [prioridad]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tipo_cultivo] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tipo_cultivo] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [fk_al_cultivo] FOREIGN KEY([cultivo_id])
REFERENCES [dbo].[cultivos] ([id])
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [fk_al_cultivo]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [fk_al_parcela] FOREIGN KEY([parcela_id])
REFERENCES [dbo].[parcelas] ([id])
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [fk_al_parcela]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [fk_al_reconoc] FOREIGN KEY([reconocida_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [fk_al_reconoc]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [fk_al_regla] FOREIGN KEY([regla_manual_id])
REFERENCES [dbo].[reglas_alerta_manual] ([id])
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [fk_al_regla]
GO
ALTER TABLE [dbo].[cosechas]  WITH CHECK ADD  CONSTRAINT [fk_cos_cultivo] FOREIGN KEY([cultivo_id])
REFERENCES [dbo].[cultivos] ([id])
GO
ALTER TABLE [dbo].[cosechas] CHECK CONSTRAINT [fk_cos_cultivo]
GO
ALTER TABLE [dbo].[cultivos]  WITH CHECK ADD  CONSTRAINT [fk_cul_parcela] FOREIGN KEY([parcela_id])
REFERENCES [dbo].[parcelas] ([id])
GO
ALTER TABLE [dbo].[cultivos] CHECK CONSTRAINT [fk_cul_parcela]
GO
ALTER TABLE [dbo].[cultivos]  WITH CHECK ADD  CONSTRAINT [fk_cul_tipo] FOREIGN KEY([tipo_cultivo_id])
REFERENCES [dbo].[tipo_cultivo] ([id])
GO
ALTER TABLE [dbo].[cultivos] CHECK CONSTRAINT [fk_cul_tipo]
GO
ALTER TABLE [dbo].[parcela_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_pu_asignador] FOREIGN KEY([asignado_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[parcela_usuarios] CHECK CONSTRAINT [fk_pu_asignador]
GO
ALTER TABLE [dbo].[parcela_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_pu_parcela] FOREIGN KEY([parcela_id])
REFERENCES [dbo].[parcelas] ([id])
GO
ALTER TABLE [dbo].[parcela_usuarios] CHECK CONSTRAINT [fk_pu_parcela]
GO
ALTER TABLE [dbo].[parcela_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_pu_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[parcela_usuarios] CHECK CONSTRAINT [fk_pu_usuario]
GO
ALTER TABLE [dbo].[parcelas]  WITH CHECK ADD  CONSTRAINT [fk_par_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[parcelas] CHECK CONSTRAINT [fk_par_owner]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [fk_rt_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [fk_rt_usuario]
GO
ALTER TABLE [dbo].[reglas_alerta_manual]  WITH CHECK ADD  CONSTRAINT [fk_ram_creador] FOREIGN KEY([creado_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[reglas_alerta_manual] CHECK CONSTRAINT [fk_ram_creador]
GO
ALTER TABLE [dbo].[reglas_alerta_manual]  WITH CHECK ADD  CONSTRAINT [fk_ram_parcela] FOREIGN KEY([parcela_id])
REFERENCES [dbo].[parcelas] ([id])
GO
ALTER TABLE [dbo].[reglas_alerta_manual] CHECK CONSTRAINT [fk_ram_parcela]
GO
ALTER TABLE [dbo].[sensor_datos]  WITH CHECK ADD  CONSTRAINT [fk_sd_parcela] FOREIGN KEY([parcela_id])
REFERENCES [dbo].[parcelas] ([id])
GO
ALTER TABLE [dbo].[sensor_datos] CHECK CONSTRAINT [fk_sd_parcela]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [fk_tar_asig] FOREIGN KEY([asignado_a])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [fk_tar_asig]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [fk_tar_creador] FOREIGN KEY([creado_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [fk_tar_creador]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [fk_tar_cultivo] FOREIGN KEY([cultivo_id])
REFERENCES [dbo].[cultivos] ([id])
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [fk_tar_cultivo]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [fk_tar_parcela] FOREIGN KEY([parcela_id])
REFERENCES [dbo].[parcelas] ([id])
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [fk_tar_parcela]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [chk_al_estado] CHECK  (([estado]='RESUELTA' OR [estado]='RECONOCIDA' OR [estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [chk_al_estado]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [chk_al_origen] CHECK  (([tipo_origen]='AUTOMATICA' OR [tipo_origen]='MANUAL'))
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [chk_al_origen]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD  CONSTRAINT [chk_al_sev] CHECK  (([severidad]='CRITICA' OR [severidad]='ALTA' OR [severidad]='MEDIA' OR [severidad]='BAJA'))
GO
ALTER TABLE [dbo].[alertas] CHECK CONSTRAINT [chk_al_sev]
GO
ALTER TABLE [dbo].[cosechas]  WITH CHECK ADD  CONSTRAINT [chk_cos_calidad] CHECK  (([calidad]='PREMIUM' OR [calidad]='ESTANDAR' OR [calidad]='BAJA'))
GO
ALTER TABLE [dbo].[cosechas] CHECK CONSTRAINT [chk_cos_calidad]
GO
ALTER TABLE [dbo].[cosechas]  WITH CHECK ADD  CONSTRAINT [chk_cos_kg] CHECK  (([kg_obtenidos]>(0)))
GO
ALTER TABLE [dbo].[cosechas] CHECK CONSTRAINT [chk_cos_kg]
GO
ALTER TABLE [dbo].[cosechas]  WITH CHECK ADD  CONSTRAINT [chk_cos_precio] CHECK  (([precio_por_kg]>=(0)))
GO
ALTER TABLE [dbo].[cosechas] CHECK CONSTRAINT [chk_cos_precio]
GO
ALTER TABLE [dbo].[cultivos]  WITH CHECK ADD  CONSTRAINT [chk_cul_estado] CHECK  (([estado]='LISTO_COSECHA' OR [estado]='EN_ESPERA' OR [estado]='PERDIDO' OR [estado]='FINALIZADO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[cultivos] CHECK CONSTRAINT [chk_cul_estado]
GO
ALTER TABLE [dbo].[reglas_alerta_manual]  WITH CHECK ADD  CONSTRAINT [chk_ram_campo] CHECK  (([campo]='LUMINOSIDAD' OR [campo]='HUMEDAD_AMBIENTAL' OR [campo]='HUMEDAD_SUELO' OR [campo]='TEMPERATURA'))
GO
ALTER TABLE [dbo].[reglas_alerta_manual] CHECK CONSTRAINT [chk_ram_campo]
GO
ALTER TABLE [dbo].[reglas_alerta_manual]  WITH CHECK ADD  CONSTRAINT [chk_ram_op] CHECK  (([operador]='ENTRE' OR [operador]='MENOR_QUE' OR [operador]='MAYOR_QUE'))
GO
ALTER TABLE [dbo].[reglas_alerta_manual] CHECK CONSTRAINT [chk_ram_op]
GO
ALTER TABLE [dbo].[reglas_alerta_manual]  WITH CHECK ADD  CONSTRAINT [chk_ram_sev] CHECK  (([severidad]='CRITICA' OR [severidad]='ALTA' OR [severidad]='MEDIA' OR [severidad]='BAJA'))
GO
ALTER TABLE [dbo].[reglas_alerta_manual] CHECK CONSTRAINT [chk_ram_sev]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [chk_tar_estado] CHECK  (([estado]='CANCELADA' OR [estado]='COMPLETADA' OR [estado]='EN_PROGRESO' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [chk_tar_estado]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [chk_tar_prior] CHECK  (([prioridad]='URGENTE' OR [prioridad]='ALTA' OR [prioridad]='MEDIA' OR [prioridad]='BAJA'))
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [chk_tar_prior]
GO
ALTER TABLE [dbo].[tareas]  WITH CHECK ADD  CONSTRAINT [chk_tar_tipo] CHECK  (([tipo]='OTRO' OR [tipo]='MANTENIMIENTO' OR [tipo]='RECOLECCION' OR [tipo]='PODA' OR [tipo]='FERTILIZACION' OR [tipo]='RIEGO'))
GO
ALTER TABLE [dbo].[tareas] CHECK CONSTRAINT [chk_tar_tipo]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [chk_usr_estado] CHECK  (([estado]='RECHAZADO' OR [estado]='INACTIVO' OR [estado]='ACTIVO' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [chk_usr_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [chk_usr_rol] CHECK  (([rol]='ROLE_WORKER' OR [rol]='ROLE_OWNER' OR [rol]='ROLE_ADMIN'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [chk_usr_rol]
GO
USE [master]
GO
